#body1 {
    background-color: #86A789;
}

.brand {
   
    color: #D2E3C8;
}

.heading {
    color: #D2E3C8;
    text-align: center;
}


.col-md-4{
    text-align: center;
   
}

.row-top{
    background-color: #B2C8BA;
    border-radius: 5%;
}

.col-2 {
    background-color: #B2C8BA;
    text-align: center;
    border: 1px solid whitesmoke;
    align-content: center;
    border-radius: 8%;

}


.card-body{
    background-color: #B2C8BA;
    border-radius: 5%;
}

.pageheader {
    color: yellow;
}

.pageImage{
    width: 4rem;
    height: 4rem;
}


.footer {
    background-color: #86A789;
}

.time {
    margin-top: 1rem;
}

.footer-text {
    color: #D2E3C8;
}
